<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcs.study.module.business.admin.dao.AdminDao">
    <resultMap id="AdminVO" type="com.bcs.study.module.business.admin.domain.vo.AdminVO"/>

    <sql id="allColumns">
        ${alias}.`id`,
        ${alias}.`name`,
        ${alias}.`password`,
        ${alias}.`amount`,
        ${alias}.`status`,
        ${alias}.`create_time`,
        ${alias}.`update_time`,
        ${alias}.`is_deleted`,
    </sql>

    <update id="batchDeleteAdmin">
        update t_admin ta set is_deleted = 1 where id in
        <foreach collection="list" open="(" close=")" separator="," item="id" >
            #{id}
        </foreach>
    </update>

    <select id="pageQueryAdmin" resultMap="AdminVO">
        select
        <trim suffixOverrides=",">
            <include refid="allColumns">
                <property name="alias" value="ta"/>
            </include>
        </trim>
        from t_admin ta
        <where>
            ta.is_deleted = 0
            <if test="adminQueryForm.createTimeBegin!=null">
                and ta.create_time &gt;= #{adminQueryForm.createTimeBegin}
            </if>
            <if test="adminQueryForm.createTimeEnd!=null">
                and ta.create_time &lt;= #{adminQueryForm.createTimeEnd}
            </if>
            <if test="adminQueryForm.updateTimeBegin!=null">
                and ta.update_time &gt;= #{adminQueryForm.updateTimeBegin}
            </if>
            <if test="adminQueryForm.updateTimeEnd!=null">
                and ta.update_time &lt;= #{adminQueryForm.updateTimeEnd}
            </if>
        </where>
        order by ta.update_time desc
    </select>

    <select id="selectById" resultMap="AdminVO">
        select
        <trim suffixOverrides=",">
            <include refid="allColumns">
                <property name="alias" value="ta"/>
            </include>
        </trim>
        from t_admin ta
        <where>
            ta.is_deleted = 0
            and ta.id = #{id}
        </where>
    </select>
</mapper>